:root{

    /* BRAND */

    --color-brand: #2563EB;
    --color-brand-hover: #1D4ED8;
    --color-brand-light: #60A5FA;

    /* BACKGROUND */

    --color-background: #F1F5F9;
    --color-background-secondary: #F8FAFC;
    --color-background-tertiary: #E2E8F0;

    /* SURFACE */

    --color-surface: #FFFFFF;
    --color-surface-hover: #F8FAFC;

    /* TEXT */

    --color-text: #111827;
    --color-text-secondary: #F8FAFC;
    --color-text-muted: #9CA3AF;

    /* BORDER */

    --color-border: #E5E7EB;

    /* STATUS */

    --color-success: #22C55E;
    --color-warning: #F59E0B;
    --color-danger: #EF4444;
    --color-info: #06B6D4;

}

.dark{

/* Fondos */
--color-background: #1F2330;
--color-background-secondary: #262B3B;
--color-background-tertiary: #181C27;

/* Superficies */
--color-surface: #2C3142;
--color-surface-hover: #363C50;



    /* --color-background: #282A3A;
    --color-background-secondary: #3A3D4B;
    --color-background-tertiary: #1E1F2B;


    --color-surface: #1E1F2B;
    --color-surface-hover: #282935; */

    --color-text: #F8FAFC;
    --color-text-secondary: #111827;
    --color-text-muted: #94A3B8;

    --color-border: #101520;

}